/*
* Demo Styles
*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300);




a.button {
  background-color: #F02968;
  padding: 5px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 1.5em;
  margin-right: 1em
}




