.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  text-align: center;
}



.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
}

.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}

.gutter{
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	padding-bottom: 2rem;
}

.unit-s-1{
	width: 100%;
}

#welcome{
  text-align: center;

}
#map-gutter{
  padding-bottom: 0rem;
}


@media only screen and (min-width: 715px){
  .unit-m-1-2{
  width:50%;
  }
  .unit-l-1-3{
    width:33.33%;
  }


}

