
body {
	background-color: #d9d9d9;
}

header {
	background-color: #25272a;
}



.logo {

	/*min-height: 250px;*/  /* Gives height to the top blue bar */
	min-height: 180px;
	padding-top: 1px;
	padding-bottom: 20px;


}

.logo img {
  display: block;
	margin: 15px auto -15px auto; /* Keeps it centered */

  vertical-align: bottom;
  width: 150px;
}

@media screen and (min-width: 520px) {

	.logo img {
	width: 190px;
}
}

.muna-home{
  text-align: center;
  font-size: 1rem;
}

#munahome{
  width: 100%;
}

 #about-img{
  padding-top: 2rem;
 }

.muna-home-big{
  display: none;
}

@media screen and (min-width: 520px) {


  .muna-home{
  display: none;
}
.muna-home-big{
  display:inline-block;
}

#about-img-big{
  width: 100%;
  padding-top: 5rem;
  }

}

.link-facebook-home{
  float: right;
  padding-right:5rem;
}

.facebook-home p{
  text-align: left;
  padding-left: 5rem;
  padding-top: 5rem;
  font-size: 5rem;
}

#about{
  width:90%;
  margin: 0 auto 0 auto;
  font-size: 1.2rem;
  line-height: 130%;
}

#about-in{
  width:90%;
  margin: 0 auto 0 auto;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 130%;
}

#about-heb{
  width:90%;
  padding-top: 1rem;
  margin: 0 auto 0 auto;
  font-size: 1.2rem;
  line-height: 130%;
}
#about-in-heb{
  width:90%;
  margin: 0 auto 0 auto;
  font-size: 1.2rem;
  line-height: 130%;
}

@media screen and (min-width: 500px) {
  #about{
  width:60%;
  font-size: 1.8rem;
}
#about-in{
  width:60%;
  padding-top: 0.5rem;
  font-size: 1.8rem;
  line-height: 130%;
}
#about-in-heb{
  width:60%;
  margin: 0 auto 0 auto;
  line-height: 130%;
}

#about-heb{
    padding-top: 3rem;
    width:60%;
  }
}

.contact{
  padding-top: 1rem;
  margin:0 5px 0 5px;
  text-align: center;
  min-height: 100px;

}

.contact h1{
  font-size: 2rem;
  padding-bottom: 1.3rem;
}

.contact h2{
  font-size: 1.3rem;
  padding-top: 1rem;
}

.contact p{
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 520px) {
.contact h1{
  font-size: 4rem;
}
.contact p{
  font-size: 2.1rem;
  padding-bottom: 3rem;
}
.contact h2{
  font-size: 2rem;
}
}

@media screen and (min-width: 520px) {
  .contact{
    padding-top: 5rem;

  }
}

.contact-links{
  list-style: none;
}

}

.contact-links ul{
  display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

.contact-links li{
  display: list-item;
  text-align: -webkit-match-parent;
  margin: 0 5px 0 5px;
  line-height: 150%;
}



.phone-link{
  font-size: 1.1rem;
}

@media screen and (min-width: 715px) {
  .phone-link{
      border-right: 2px solid #fff;
  }
  }

@media screen and (min-width: 350px) {
  .phone-link{
    font-size: 1.5rem;
  }
}

.email-link{
  padding-top: 1rem;
}



#mail{

  color:#25272a;
  text-decoration: none;
  font-size: 1.1rem;
}

@media screen and (min-width: 350px) {
  #mail{
  font-size: 1.5rem;
  }
}

.facebook{
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.map-big{
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
}

.map-big iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* BOTTOM ------------------------------------------------------------*/
#bottom {
	background-color: #25272a;
  min-height: 20px;
  border-top: 1px solid #25272a;
}

#bottom #content {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
	color: #e8e2cb;
  font-size: 1.3rem;
  line-height: 1.5em;
  clear: both;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}
#bottom #content a {
  color: #e8e2cb;
}
#bottom #content a:hover {
  text-decoration: none;
}

.footer{
  position: relative;
  height: 150px;
  clear:both;}

}

.footer_copyright{
	  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
	color: #d8d8d8;
  font-size: 1rem;
  line-height: 0.5em;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}

.footer_phone{
	text-align: right;
	padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
	color: #d8d8d8;
  font-size: 0.8rem;
  line-height: 0.5em;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;

}

.footer_copyright{
	text-align: center;
  color: #fff;
}

.footer-text{
  overflow: hidden;
}
@media only screen and (min-width: 50rem){
.footer_copyright{
  float: left;
	padding-left: 20px;
}

.footer_phone{
	float: right;
	padding-right: 20px;
}


}

.gallery .footer {
  display: none;
}
