
body {
	background-color: #d9d9d9;
}

header {
	background-color: #25272a;
}

.logo {

	/*min-height: 250px;*/  /* Gives height to the top blue bar */
	min-height: 180px;
	padding-top: 1px;
	padding-bottom: 20px;


}

.logo img {
  display: block;
	margin: 15px auto -15px auto; /* Keeps it centered */

  vertical-align: bottom;
  width: 150px;
}

@media screen and (min-width: 520px) {

	.logo img {
	width: 190px;
}
}




.contact{
  padding-top: 1rem;
  margin:0 5px 0 5px;
  text-align: center;
  min-height: 100px;

}

.contact h1{
  font-size: 2rem;
  padding-bottom: 1.3rem;
}

.contact h2{
  font-size: 1.3rem;
}

.contact p{
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 520px) {
.contact h1{
  font-size: 4rem;
}
.contact p{
  font-size: 2.1rem;
  padding-bottom: 3rem;
}
.contact h2{
  font-size: 2rem;
}
}

@media screen and (min-width: 520px) {
  .contact{
    padding-top: 5rem;

  }
}

.contact-links{
  list-style: none;
}

}

.contact-links ul{
  display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

.contact-links li{
  display: list-item;
  text-align: -webkit-match-parent;
  margin: 0 5px 0 5px;
  line-height: 150%;
}



.phone-link{
  font-size: 1.1rem;
}

@media screen and (min-width: 715px) {
  .phone-link{
      border-right: 2px solid #fff;
  }
  }

@media screen and (min-width: 350px) {
  .phone-link{
    font-size: 1.5rem;
  }
}

.email-link{
  padding-left: 45px;
}

#mail{
  color:#25272a;
  text-decoration: none;
  font-size: 1rem;
}

@media screen and (min-width: 350px) {
  #mail{
  font-size: 1.5rem;
  }
}

.facebook{
  margin-bottom: 5rem;
  margin-top: 3rem;
  text-align: center;
}




/* BOTTOM ------------------------------------------------------------*/
#bottom {
	background-color: #25272a;
  position: relative;
  min-height: 20px;
  border-top: 1px solid #25272a;
}

#bottom #content {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
	color: #e8e2cb;
  font-size: 1.3rem;
  line-height: 1.5em;
  clear: both;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}
#bottom #content a {
  color: #e8e2cb;
}
#bottom #content a:hover {
  text-decoration: none;
}

.footer{
position: relative;
float: left;
width: 100%;
bottom: 0;
z-index: 10;
padding: 0;
margin: 0;

}

.footer_copyright{
	  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
	color: #d8d8d8;
  font-size: 1rem;
  line-height: 0.5em;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;
}

.footer_phone{
	text-align: right;
	padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
	color: #d8d8d8;
  font-size: 0.8rem;
  line-height: 0.5em;
  	-webkit-tap-highlight-color:transparent !important;
	font-family: ‘Open Sans’, sans-serif; font-weight: 300;

}

.footer_copyright{
	text-align: center;
}

.footer-text{
  overflow: hidden;
}
@media only screen and (min-width: 50rem){
.footer_copyright{
  float: left;
	padding-left: 20px;
}

.footer_phone{
	float: right;
	padding-right: 20px;
}


}
